* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: #cccccc;
    position: relative;
}

header {
background-color: white;
margin-bottom: 5rem;
}

main {
    max-width: 70vw;
    background-color: white;
    margin: 0 auto 2em;
    padding-bottom: 2rem;
    border-radius: 10px;
}

h1 {
    font-size: 4rem;
    display: inline-block;
    vertical-align: middle;
}

hr {
height: 5px;

background-color: #cccccc;
}

.logo {
    width: 6rem;
    margin: 1rem 1rem 1rem 2.5rem;
    vertical-align: middle;
}

div.buttons {
    margin-left: 5rem;

}

li {
list-style: none;
margin: .5em 0;
}

.button {
    vertical-align: middle;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    box-shadow: 1px 1px 4px #555555;
}

.active {
    margin: 1rem 0;
    background-color: #47adf1;
    color: white;
    border: 2px solid #47adf1;
}

.inactive {
    background-color: white;
    color: lightgrey;
    border: 2px solid lightgrey;
}

a {
    text-decoration: none;
    color: inherit;
}

.list {
    margin: 3em 5rem 0;
}

.item {
    margin-top: 4.5em;
}

.arrow-item {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5em;
    margin-top: 1.5em 5rem;
}

.checked {
    line-height: 3em;
    color: green;
    font-size: 1.5rem;
    border: 2px solid green;
    border-radius: 50%;
    padding: 0 7px;
}

.unchecked {
    line-height: 3em;
    color: red;
    font-size: 1.5rem;
    border: 2px solid red;
    border-radius: 50%;
    padding: 0 7px;
}

.object {
    font-size: 1.75rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

.label {
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-left: 0.5rem;
    border-radius: 15px;

}

.editorial {
    background-color: #47adf1;
}

.q1 {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}